### Dataset : "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

In [2]:
from bs4  import BeautifulSoup
import requests

In [3]:
url=("https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue")

In [4]:
page=requests.get(url)

In [5]:
soup=BeautifulSoup(page.text,"html")

In [15]:
table=soup.find_all("table")[2]

In [16]:
print(table)

<table class="wikitable sortable">
<tbody><tr>
<th>Rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Revenue <br/>(USD billions)
</th>
<th>Employees
</th>
<th>Headquarters
</th></tr>
<tr>
<td>1
</td>
<td><a href="/wiki/Cargill" title="Cargill">Cargill</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">165
</td>
<td style="text-align:center;">155,000
</td>
<td><a href="/wiki/Minnetonka,_Minnesota" title="Minnetonka, Minnesota">Minnetonka, Minnesota</a>
</td></tr>
<tr>
<td>2
</td>
<td><a href="/wiki/Koch_Industries" title="Koch Industries">Koch Industries</a>
</td>
<td>Conglomerate
</td>
<td style="text-align:center;">125
</td>
<td style="text-align:center;">120,000
</td>
<td><a href="/wiki/Wichita,_Kansas" title="Wichita, Kansas">Wichita, Kansas</a>
</td></tr>
<tr>
<td>3
</td>
<td><a class="mw-redirect" href="/wiki/Publix_Super_Markets" title="Publix Super Markets">Publix Super Markets</a>
</td>
<td>Retail
</td>
<td style="text-align:center;">48
</td>
<td style="text-align:center;">230,000
</td>
<td><a href="/wiki/Winter_Haven,_Florida" title="Winter Haven, Florida">Winter Haven, Florida</a>
</td></tr>
<tr>
<td>4
</td>
<td><a href="/wiki/Mars,_Incorporated" title="Mars, Incorporated">Mars, Incorporated</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">45
</td>
<td style="text-align:center;">140,000
</td>
<td><a href="/wiki/McLean,_Virginia" title="McLean, Virginia">McLean, Virginia</a>
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/Pilot_Corporation" title="Pilot Corporation">Pilot Corporation</a>
</td>
<td>Petroleum industry and Retail
</td>
<td style="text-align:center;">41.9
</td>
<td style="text-align:center;">30,000
</td>
<td><a href="/wiki/Knoxville,_Tennessee" title="Knoxville, Tennessee">Knoxville, Tennessee</a>
</td></tr>
<tr>
<td>6
</td>
<td><a href="/wiki/H-E-B" title="H-E-B">H-E-B</a>
</td>
<td>Retail
</td>
<td style="text-align:center;">38.9
</td>
<td style="text-align:center;">145,000
</td>
<td><a class="mw-redirect" href="/wiki/San_Antonio,_Texas" title="San Antonio, Texas">San Antonio, Texas</a>
</td></tr>
<tr>
<td>7
</td>
<td><a href="/wiki/Reyes_Holdings" title="Reyes Holdings">Reyes Holdings</a>
</td>
<td><a href="/wiki/Wholesaling" title="Wholesaling">Wholesaling</a>
</td>
<td style="text-align:center;">35.3
</td>
<td style="text-align:center;">33,000
</td>
<td><a href="/wiki/Rosemont,_Illinois" title="Rosemont, Illinois">Rosemont, Illinois</a>
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/C%26S_Wholesale_Grocers" title="C&amp;S Wholesale Grocers">C&amp;S Wholesale Grocers</a>
</td>
<td>Wholesaling
</td>
<td style="text-align:center;">33
</td>
<td style="text-align:center;">14,000
</td>
<td><a href="/wiki/Keene,_New_Hampshire" title="Keene, New Hampshire">Keene, New Hampshire</a>
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/Enterprise_Holdings" title="Enterprise Holdings">Enterprise Holdings</a>
</td>
<td><a href="/wiki/Car_rental" title="Car rental">Car rental</a>
</td>
<td style="text-align:center;">30
</td>
<td style="text-align:center;">80,000
</td>
<td><a href="/wiki/Clayton,_Missouri" title="Clayton, Missouri">Clayton, Missouri</a>
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Love%27s" title="Love's">Love's</a>
</td>
<td>Petroleum industry and Retail
</td>
<td style="text-align:center;">25.5
</td>
<td style="text-align:center;">38,000
</td>
<td><a class="mw-redirect" href="/wiki/Oklahoma_City,_Oklahoma" title="Oklahoma City, Oklahoma">Oklahoma City, Oklahoma</a>
</td></tr></tbody></table>

In [17]:
elements=table.find_all("th")

In [18]:
pieces=[]
for element in elements:
    pieces.append(element.text.strip())

In [19]:
print(pieces)

['Rank', 'Name', 'Industry', 'Revenue (USD billions)', 'Employees', 'Headquarters']

In [20]:
import pandas as pd

In [28]:
dataf=pd.DataFrame(columns=pieces)

In [31]:
dataf

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD billions), Employees, Headquarters]
Index: []

In [50]:
rows=table.find_all("tr")[1:]

In [53]:
pieces=[]
for row in rows :
        variab=row.find_all("td")
        arcades=[piece.text.strip() for piece in variab]
        df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)

C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)
C:\Users\ROY\AppData\Local\Temp\ipykernel_22760\3394135103.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(arcades, index=df.columns), ignore_index=True)

In [54]:
df

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
0,1,Cargill,Food industry,165,"155,000","Minnetonka, Minnesota"
1,2,Koch Industries,Conglomerate,125,"120,000","Wichita, Kansas"
2,3,Publix Super Markets,Retail,48,"230,000","Winter Haven, Florida"
3,4,"Mars, Incorporated",Food industry,45,"140,000","McLean, Virginia"
4,5,Pilot Corporation,Petroleum industry and Retail,41.9,"30,000","Knoxville, Tennessee"
5,6,H-E-B,Retail,38.9,"145,000","San Antonio, Texas"
6,7,Reyes Holdings,Wholesaling,35.3,"33,000","Rosemont, Illinois"
7,8,C&S Wholesale Grocers,Wholesaling,33,"14,000","Keene, New Hampshire"
8,9,Enterprise Holdings,Car rental,30,"80,000","Clayton, Missouri"
9,10,Love's,Petroleum industry and Retail,25.5,"38,000","Oklahoma City, Oklahoma"

In [55]:
df.to_excel(r"Downloads\test.xlsx",index=False)